on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - run: composer install --ignore-platform-reqs
      - run: php7.1 --version
      - run: php7.2 --version
      - run: php7.3 --version
